<div class="large-8 columns">
  <%= form_for(@minimeal) do |f| %>
    <% if @minimeal.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@minimeal.errors.count, "error") %> prohibited this minimeal from being saved:</h2>

        <ul>
        <% @minimeal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :fooditem %><br>
      <%= f.number_field :fooditem %>
    </div>

    <div class="field">
      <%= f.label :fooditem %><br>
      <%= f.select(:fooditem, Food.all.collect { |food| [food.name, food.id] }) %>
    </div>

    <div class="field">
      <%= f.label :grams %><br>
      <%= f.text_field :grams %>
    </div>

    <div class="field">
      <%= f.label :date %><br>
      <%= f.date_select :date %>
    </div>
    <div class="actions">
      <%= f.submit :class => ['button', 'radius', 'small'] %>
    </div>
  <% end %>
</div>