<div class="row">
  <div class="large-12 columns">
    <h1>Listing minimeals</h1>

    <table>
      <thead>
        <tr>
          <th>Food</th>
          <th>Grams</th>
          <th>User</th>
          <th>Date</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @minimeals.each do |minimeal| %>
          <tr>
            <td><%= minimeal.food.name.capitalize %></td>
            <td><%= minimeal.grams %></td>
            <td><%= minimeal.user.username.capitalize %></td>
            <td><%= minimeal.date %></td>
            <td><%= link_to 'Show', minimeal %></td>
            <td><%= link_to 'Edit', edit_minimeal_path(minimeal) %></td>
            <td><%= link_to 'Destroy', minimeal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<div class="row">
  <div class="large-8 columns">
    <%= link_to 'New Minimeal', new_minimeal_path %>
  </div>
</div>