<p id="notice"><%= notice %></p>

<p>
  <strong>Fooditem:</strong>
  <%= @minimeal.fooditem %>
</p>

<p>
  <strong>Grams:</strong>
  <%= @minimeal.grams %>
</p>

<p>
  <strong>User:</strong>
  <%= @minimeal.user %>
</p>

<p>
  <strong>Date:</strong>
  <%= @minimeal.date %>
</p>

<%= link_to 'Edit', edit_minimeal_path(@minimeal) %> |
<%= link_to 'Back', minimeals_path %>
