<h1>Listing foods</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Calories per unit</th>
      <th>Calories per g</th>
      <th>Macros carbs</th>
      <th>Macros protein</th>
      <th>Macros fat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.calories_per_unit %></td>
        <td><%= food.calories_per_g %></td>
        <td><%= food.macros_carbs %></td>
        <td><%= food.macros_protein %></td>
        <td><%= food.macros_fat %></td>
        <td><%= link_to 'Show', food %></td>
        <td><%= link_to 'Edit', edit_food_path(food) %></td>
        <td><%= link_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food', new_food_path %>
